<%- include('header', {navbar: 'Class', hamburger: false, link: '/students/'}) -%> 
        <div class="container">
            <div class="row">   
                <div class="col-10 offset-1 col-md-12 offset-md-0 card p-5 shadow mt-3">
                    <h1 class="card-title"><%= student.lastname + " " + student.firstname %> </h1>
                    <div class="card-body p-0 pt-3 mt-2">
                        <div class="d-inline-flex bd-highlight me-5"><span>Student ID:</span><span class="space"><%= student.studentid %> </span></div>
                        <div class="d-inline-flex bd-highlight"><span>Class:</span><span class="space"><%= student.class %> </span></div>
                    </div>     
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1 col-md-12 offset-md-0 card mt-3 pt-3 pt-md-0 tablefixhead table-responsive shadow">
                    <table class="table">
                        <thead>
                            <tr>    
                                <th scope="col">Task</th>
                                <th scope="col">Point</th>
                                <th scope="col">Date</th>
                                <th scope="col">Description</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                        </thead>
                        <% studentpoints.forEach(function(onePoint){ %> 
                            <tr>
                                <td ><%= onePoint.task %> </td>
                                <td ><%= onePoint.points %> </td>
                                <td ><%= onePoint.date.toDateString() %> </td>
                                <td><%= onePoint.description %> </td>
                                <td class="td-narrow"><a class="modify" href="/points/<%= student._id %>/edit/<%= onePoint._id %>/  "><i class="fas fa-pencil-alt"></i></a><a class="remove"  href="/points/<%= student._id %>/del/<%= onePoint._id %>/"><i class="fas fa-minus-circle"></i></a> </td>
                            </tr>
                        <% }) %>
                        </table>
                </div>
            </div>
            <div class="col-12 text-center mt-4">
                <a class="size add-size" href="/points/<%= student._id %>/new/ "><i class="fas fa-plus-square fa-lg"></i></a>
            </div>
        </div>
<%- include('footer') -%> 